<div class="app-sprint">
  <div class="app-sprint__column">
    <div class="app-sprint__column-title">
      To do
    </div>

    <div class="app-sprint__column-scope">
      @for(ticket of toDoTickets(); track ticket) {
        <app-ticket [ticket]="ticket" ]></app-ticket>
      }
    </div>

  </div>
  <div class="app-sprint__column">
    <div class="app-sprint__column-title">
      In progress
    </div>
    <div class="app-sprint__column-scope">
      @for(ticket of inProgressTickets(); track ticket) {
        <app-ticket [ticket]="ticket"></app-ticket>
      }
    </div>
  </div>
  <div class="app-sprint__column">
    <div class="app-sprint__column-title">
      Done
    </div>
    <div class="app-sprint__column-scope">
      @for(ticket of doneTickets(); track ticket) {
        <app-ticket [ticket]="ticket" ]></app-ticket>
      }
    </div>
  </div>
</div>

