.app-ticket {
  width: 120px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  font-weight: 500;
  background: white;
}

.app-card__story-points {
  font-size: 10px;
  color: #505258;
}

.app-card__icon {

}

.app-card-icon__bug {

}